*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #d2f8d2;
    text-align: center;
    
}

.title{
    margin: 20px;
    color: #0e7490;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 3.5rem;
    background-color: #fef9c3;
    color: #2563eb;
    transition: transform 0.2s;
}

#reset-btn{
    height: 30px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: #6366f1;
    color: #ffffff;
    font-size: 17px;
}

.new-game{
    height: 30px;
    width: 150px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
    margin-bottom: 30px;
    background-color: #575761;
    color: white;
}

.msg{
    font-size: 5rem;
    color: 	#facc15;
}

.hide{
    display: none;
}